.container, .buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 12px auto;
}

h1{
  color: whitesmoke;
  font-size: 32px;
}

.buttons button{
  border-radius: 20px;
  padding: 20px;
  width: 200px;
}

ion-content{
  margin: auto;
  --ion-background-color: #122215;
}
