.container, .buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 64px 24px;
}

.title h1{
  text-align: center;
  margin-top: 12px;
}

h1{
  color: whitesmoke;
  font-size: 32px;
}

.buttons button{
  border-radius: 20px;
  padding: 20px;
  width: 200px;
}

fa-icon{
  margin-right: 8px;
}

ion-content{
  margin: auto;
  --overflow: hidden;
  --ion-background-color: #122215;
}

img{
  border-radius: 20px;
}
