<ion-header [translucent]="true">
    <ion-toolbar>
      <fa-icon [icon]="faArrow" class="arrow" routerLink="/intro"></fa-icon>
      <ion-title> Teams </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-field">
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Search players"
          [(ngModel)]="searchText"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </p>
    </div>
  </div>

  <ion-content>
    <div class="listInfo">
      <div
        class="list"
        *ngFor="let item of list | filterTeams: searchText"
        (click)="redirectToTeamsPage(item)"
      >
        <button>
          <fa-icon class="fa" [icon]="faTeams"></fa-icon>
          {{item.name}}
        </button>
      </div>
    </div>
  </ion-content>
