#container, ion-title {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px;
}

ion-content{
  --ion-background-color: #122215;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  border-radius: 20px;
  background-color: #121214;
  padding: 24px;
  width: 300px;
}

button:hover{
  background-color: #142536;
}
