img
{
  width: 150px;
  height: 100px;
}

.brazil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 20px;
  margin: auto;
  background-color: aquamarine;
}
