  <ion-header [translucent]="true">
    <ion-toolbar>
      <fa-icon [icon]="faArrow" class="arrow" routerLink="/intro"></fa-icon>
      <ion-title> Players </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-field">
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Search players"
          [(ngModel)]="searchText"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </p>
    </div>
  </div>

  <ion-content>
    <div class="listInfo">
      <div
        class="list"
        *ngFor="let item of player | filter: searchText"
        (click)="redirectToPlayersPage(item)"
      >
        <button>
          <img *ngIf="item.img" src="{{ item.img }}" alt="" />
          <fa-icon class="person" *ngIf="!item.img" [icon]="faPerson"></fa-icon>
          {{ item.firstname }}
        </button>
      </div>
    </div>
  </ion-content>
