<ion-header [translucent]="true">
  <ion-toolbar>
    <fa-icon [icon]="faArrow" routerLink="/intro"></fa-icon>
    <ion-title>
      Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input class="filter" type="text" placeholder="Search players" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText">
  <div id="container" *ngFor="let item of player | filter: searchText" (click)="redirectToPlayersPage(item)">
    <button>
      {{item.firstname}}
    </button>
  </div>
</ion-content>
