.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

ion-content{
  --ion-background-color: #122215;
}

.content-field{
  background-color: #122215;
}

.listInfo{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #122215;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 24px;
  width: 300px;
}

button:hover{
  background-color: #142536;
  color: whitesmoke;
}

.arrow{
  padding: 12px;
}

.field{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.input{
  width: 370px;
}

ion-title{
  text-align: center;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.person{
  width: 36px;
  height: 36px;
}
