#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

ion-content{
  --ion-background-color: #122215;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#playerInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #122215;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 24px;
  gap: 12px;
  width: 300px;
}

#playerInfo img{
  border-radius: 50%;
}

fa-icon{
  padding: 12px;
}

ion-title{
  text-align: center;
  padding: 0;
}
